
body {
    box-sizing: border-box;
    margin: 0;
    padding: 8em 0;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    height: 100vh;
    background-position: calc(50% - 478px) calc(0% - 478px), calc(50% + 478px) calc(110vh - 478px);
    background-repeat: no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.body__profile {
    width: 87.2%;
    margin: 0 auto;
}